<div class="leadform-card" id="lead-form-card">
       <!-- <p class="leadform-card-title">Tell us about your destination.</p> -->
       <div class="contact_form w-form">
        <div class="zf-backgroundBg"><!-- Change or deletion of the name attributes in the input tag will lead to empty values on record submission-->
<div class="zf-templateWidth"><form action='https://forms.zohopublic.in/melangedigital1/form/TestFormforLeadmagnetReport/formperma/4IruV46CoFgmGdBIPzu6su1RqHAZQM5u4me36uxNCpc/htmlRecords/submit' name='form'
method='POST'
onSubmit='javascript:document.charset="UTF-8"; return zf_ValidateAndSubmit();'
accept-charset='UTF-8' enctype='multipart/form-data' id='form'>
<input type="hidden" name="zf_referrer_name" value=""><!-- To Track referrals , place the referrer name within the " " in the above hidden input field -->
<input type="hidden" name="zf_redirect_url" value="">
<input type="hidden" name="zc_gad" value=""><!-- If GCLID is enabled in Zoho CRM Integration, click details of AdWords Ads will be pushed to Zoho CRM -->
<div class="zf-templateWrapper"><ul class="zf-tempHeadBdr"><li class="zf-tempHeadContBdr"><h3 class="zf-frmTitle">
<em>Tell us about your destination</em>
</h3>
<p class="zf-frmDesc"></p>
<div class="zf-clearBoth"></div></li></ul>
<div class="zf-subContWrap zf-topAlign"><ul>
<!-- Dense field grid, placeholders only (h3 is the sole form heading) -->
<div class="leadform-fields">
<div class="zf-tempFrmWrapper zf-medium leadform-field--name"><label class="zf-labelName" for="zf_name">Name</label>
<div class="zf-tempContDiv"><span>
<input id="zf_name" type="text" name="SingleLine" checktype="c1" value="" maxlength="255" fieldType=1 autocomplete="name" placeholder="Name" /></span>
<p id="SingleLine_error" class="zf-errorMessage" style="display: none;">Invalid value</p></div></div>
<div class="zf-tempFrmWrapper zf-medium leadform-field--email"><label class="zf-labelName" for="zf_work_contact">Email address</label>
<div class="zf-tempContDiv leadform-email-wrap">
<span>
<input id="zf_work_contact" type="text" name="Email" checktype="c5" value="" maxlength="255" fieldType=9 autocomplete="off" data-lpignore="true" data-1p-ignore="true" data-bwignore="true" data-form-type="other" data-tempmail-ignore="true" placeholder="Email address" readonly="readonly" onfocus="this.removeAttribute('readonly')" />
</span>
<p id="Email_error" class="zf-errorMessage" style="display: none;">Invalid value</p></div></div>
<div class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName" for="zf_designation">Designation</label>
<div class="zf-tempContDiv"><span>
<input id="zf_designation" type="text" name="SingleLine3" checktype="c1" value="" maxlength="255" fieldType=1 autocomplete="organization-title" placeholder="Designation" /></span>
<p id="SingleLine3_error" class="zf-errorMessage" style="display: none;">Invalid value</p></div></div>
<div class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName" for="zf_organisation">Organisation</label>
<div class="zf-tempContDiv"><span>
<input id="zf_organisation" type="text" name="SingleLine1" checktype="c1" value="" maxlength="255" fieldType=1 autocomplete="organization" placeholder="Organisation" /></span>
<p id="SingleLine1_error" class="zf-errorMessage" style="display: none;">Invalid value</p></div></div>
<div class="zf-tempFrmWrapper zf-medium"><label class="zf-labelName" for="zf_country">Country / destination</label>
<div class="zf-tempContDiv"><span>
<input id="zf_country" type="text" name="SingleLine4" checktype="c1" value="" maxlength="255" fieldType=1 placeholder="Country / destination" /></span>
<p id="SingleLine4_error" class="zf-errorMessage" style="display: none;">Invalid value</p></div></div>
<div class="zf-tempFrmWrapper zf-medium leadform-field--phone"><label class="zf-labelName" for="international_PhoneNumber_countrycode">Ph No</label>
<div class="zf-tempContDiv zf-phonefld">
<div class="zf-phwrapper">
<span class="leadform-phone-code">
<select name="PhoneNumber_countrycodeval" id="international_PhoneNumber_countrycodeval" compname="PhoneNumber_countrycodeval" checktype="c7" phoneFormat="1" isCountryCodeEnabled="true" valType="code" aria-label="Country code">
<option value="+91" selected data-flag="in">+91</option>
<option value="+1" data-flag="us">+1</option>
<option value="+44" data-flag="gb">+44</option>
<option value="+971" data-flag="ae">+971</option>
<option value="+65" data-flag="sg">+65</option>
<option value="+61" data-flag="au">+61</option>
<option value="+852" data-flag="hk">+852</option>
<option value="+966" data-flag="sa">+966</option>
<option value="+27" data-flag="za">+27</option>
<option value="+32" data-flag="be">+32</option>
<option value="+33" data-flag="fr">+33</option>
<option value="+49" data-flag="de">+49</option>
<option value="+39" data-flag="it">+39</option>
<option value="+34" data-flag="es">+34</option>
<option value="+31" data-flag="nl">+31</option>
<option value="+41" data-flag="ch">+41</option>
<option value="+351" data-flag="pt">+351</option>
<option value="+81" data-flag="jp">+81</option>
<option value="+82" data-flag="kr">+82</option>
<option value="+86" data-flag="cn">+86</option>
<option value="+60" data-flag="my">+60</option>
<option value="+62" data-flag="id">+62</option>
<option value="+66" data-flag="th">+66</option>
<option value="+63" data-flag="ph">+63</option>
<option value="+64" data-flag="nz">+64</option>
<option value="+55" data-flag="br">+55</option>
<option value="+52" data-flag="mx">+52</option>
<option value="+974" data-flag="qa">+974</option>
<option value="+973" data-flag="bh">+973</option>
<option value="+968" data-flag="om">+968</option>
<option value="+965" data-flag="kw">+965</option>
<option value="+260" data-flag="zm">+260</option>
<option value="+256" data-flag="ug">+256</option>
<option value="+855" data-flag="kh">+855</option>
<option value="+94" data-flag="lk">+94</option>
<option value="+977" data-flag="np">+977</option>
<option value="+880" data-flag="bd">+880</option>
<option value="+20" data-flag="eg">+20</option>
<option value="+212" data-flag="ma">+212</option>
<option value="+234" data-flag="ng">+234</option>
<option value="+254" data-flag="ke">+254</option>
</select>
</span>
<span class="leadform-phone-number"><input type="text" compname="PhoneNumber" name="PhoneNumber_countrycode" maxlength="20" checktype="c7" value="" phoneFormat="1" isCountryCodeEnabled=true fieldType="11" id="international_PhoneNumber_countrycode" valType="number" phoneFormatType="2" autocomplete="tel-national" placeholder="Ph No" /></span>
</div>
<p id="PhoneNumber_error" class="zf-errorMessage" style="display:none;">Invalid value</p></div></div>
</div>
<div class="zf-tempFrmWrapper zf-medium leadform-field--goals">
<label class="zf-labelName zf-labelName--sr" for="zf_goals_trigger">What is your goal/s in India?</label>
<div class="zf-tempContDiv">
<div class="leadform-multiselect" data-leadform-multiselect>
<button type="button" class="leadform-multiselect__trigger" id="zf_goals_trigger" aria-haspopup="listbox" aria-expanded="false" aria-controls="zf_goals_panel">
<span class="leadform-multiselect__label" data-placeholder="What is your goal/s in India?">What is your goal/s in India?</span>
</button>
<div class="leadform-multiselect__panel" id="zf_goals_panel" role="listbox" aria-multiselectable="true" hidden>
<label class="leadform-multiselect__option">
<input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_1" name="MultipleChoice" checktype="c1" value="Increase awareness among Indian travellers"/>
<span>Increase awareness among Indian travellers</span>
</label>
<label class="leadform-multiselect__option">
<input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_2" name="MultipleChoice" checktype="c1" value="Drive bookings and arrivals from India"/>
<span>Drive bookings and arrivals from India</span>
</label>
<label class="leadform-multiselect__option">
<input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_3" name="MultipleChoice" checktype="c1" value="Reposition the destination for a new Indian audience"/>
<span>Reposition the destination for a new Indian audience</span>
</label>
<label class="leadform-multiselect__option">
<input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_4" name="MultipleChoice" checktype="c1" value="Launch the destination in India for the first time"/>
<span>Launch the destination in India for the first time</span>
</label>
<label class="leadform-multiselect__option">
<input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_5" name="MultipleChoice" checktype="c1" value="Activate a specific campaign: creator, celebrity or experiential"/>
<span>Activate a specific campaign: creator, celebrity or experiential</span>
</label>
<label class="leadform-multiselect__option">
<input class="zf-checkBoxType" type="checkbox" id="MultipleChoice_6" name="MultipleChoice" checktype="c1" value="An ongoing India market partnership"/>
<span>An ongoing India market partnership</span>
</label>
</div>
</div>
<p id="MultipleChoice_error" class="zf-errorMessage" style="display:none;">Invalid value</p>
</div></div>
<div class="zf-tempFrmWrapper zf-medium leadform-field--notes"><label class="zf-labelName" for="zf_notes">What does success look like for you?</label>
<div class="zf-tempContDiv"><span>
<textarea id="zf_notes" name="MultiLine" checktype="c1" maxlength="65535" rows="3" placeholder="What does success look like for you? (3 to 5 sentences)"></textarea></span>
<p id="MultiLine_error" class="zf-errorMessage" style="display: none;">Invalid value</p></div></div>
</ul></div><ul><li class="zf-fmFooter"><button class="zf-submitColor">Submit</button></li></ul></div></form></div><div class="success-message-2 w-form-done">
         <div>
          Thank you! We respond within 48 hours, to you directly.
         </div>
        </div>
        <div class="error-message-3 w-form-fail">
         <div class="error-message-text">
          Oops! Something went wrong while submitting the form.
         </div>
        </div>
        </div>
       </div>
      </div>
