<div class="leadform-card report-leadform-card" id="report-lead-form-card">
  <div class="contact_form w-form">
    <div class="zf-backgroundBg">
      <div class="zf-templateWidth">
        <form
          action="https://forms.zohopublic.in/melangedigital1/form/WebsiteReportLead/formperma/xcTd58RcdWgj94Z0Q1vN0Z6YOwjBfedp3vSkxnlNj0Q/htmlRecords/submit"
          name="form"
          method="POST"
          onSubmit='javascript:document.charset="UTF-8"; return zf_ValidateAndSubmit();'
          accept-charset="UTF-8"
          enctype="multipart/form-data"
          id="report-lead-form"
        >
          <input type="hidden" name="zf_referrer_name" value="" />
          <input type="hidden" name="zf_redirect_url" value="" />
          <input type="hidden" name="zc_gad" value="" />
          <div class="zf-templateWrapper">
            <ul class="zf-tempHeadBdr">
              <li class="zf-tempHeadContBdr">
                <h3 class="zf-frmTitle"><em>Tell us about yourself</em></h3>
                <p class="zf-frmDesc"></p>
                <div class="zf-clearBoth"></div>
              </li>
            </ul>
            <div class="zf-subContWrap zf-topAlign">
              <ul>
                <div class="leadform-fields report-leadform-fields">
                  <div class="zf-tempFrmWrapper zf-large leadform-field--name">
                    <label class="zf-labelName" for="report_zf_name">Name</label>
                    <div class="zf-tempContDiv">
                      <span>
                        <input
                          id="report_zf_name"
                          type="text"
                          name="SingleLine"
                          checktype="c1"
                          value=""
                          maxlength="255"
                          fieldType="1"
                          autocomplete="name"
                          placeholder="Name"
                        />
                      </span>
                      <p id="SingleLine_error" class="zf-errorMessage" style="display: none;">Invalid value</p>
                    </div>
                  </div>
                  <div class="zf-tempFrmWrapper zf-large">
                    <label class="zf-labelName" for="report_zf_company">Company</label>
                    <div class="zf-tempContDiv">
                      <span>
                        <input
                          id="report_zf_company"
                          type="text"
                          name="SingleLine1"
                          checktype="c1"
                          value=""
                          maxlength="255"
                          fieldType="1"
                          autocomplete="organization"
                          placeholder="Company"
                        />
                      </span>
                      <p id="SingleLine1_error" class="zf-errorMessage" style="display: none;">Invalid value</p>
                    </div>
                  </div>
                  <div class="zf-tempFrmWrapper zf-large leadform-field--email">
                    <label class="zf-labelName" for="report_zf_email">Email</label>
                    <div class="zf-tempContDiv leadform-email-wrap">
                      <span>
                        <input
                          id="report_zf_email"
                          type="text"
                          name="Email"
                          checktype="c5"
                          value=""
                          maxlength="255"
                          fieldType="9"
                          autocomplete="off"
                          data-lpignore="true"
                          data-1p-ignore="true"
                          data-bwignore="true"
                          data-form-type="other"
                          data-tempmail-ignore="true"
                          placeholder="Email"
                          readonly="readonly"
                          onfocus="this.removeAttribute('readonly')"
                        />
                      </span>
                      <p id="Email_error" class="zf-errorMessage" style="display: none;">Invalid value</p>
                    </div>
                  </div>
                  <div class="zf-tempFrmWrapper zf-large leadform-field--phone">
                    <label class="zf-labelName" for="report_zf_phone">Phone</label>
                    <div class="zf-tempContDiv zf-phonefld">
                      <div class="zf-phwrapper zf-phNumber">
                        <span>
                          <input
                            type="text"
                            compname="PhoneNumber"
                            name="PhoneNumber_countrycode"
                            maxlength="20"
                            checktype="c7"
                            value=""
                            phoneFormat="1"
                            isCountryCodeEnabled="false"
                            fieldType="11"
                            id="report_zf_phone"
                            valType="number"
                            phoneFormatType="1"
                            autocomplete="tel"
                            placeholder="Phone"
                          />
                        </span>
                      </div>
                      <p id="PhoneNumber_error" class="zf-errorMessage" style="display: none;">Invalid value</p>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
            <ul>
              <li class="zf-fmFooter">
                <button type="submit" class="zf-submitColor">Submit</button>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
